# Compiled python files 
#----------------------
*.py[cod]

# Lyx Backup Files 
#----------------------
*.lyx~

# Eclipse MetaData
#---------------------
.project
.pydevproject
.settings

PyCharm MetaData
#---------------------
.idea

